:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.logo {
  -webkit-text-stroke: 2px #e94e4e;
  letter-spacing: 2px;
}

.nav-items {
  cursor: pointer;
}