:root {
  font-family: 'prompt', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.logo {
  -webkit-text-stroke: 2px #e94e4e;
  letter-spacing: 2px;
}

.nav-items {
  cursor: pointer;
  word-spacing: -2px;
  
  
}